* {
  margin:0px;
  padding:0px;
  box-sizing:inherit;
}

html {
    font-size: 62.5%;
}

body{
  box-sizing:border-box;
}

.container {
  height:100vh;
  width:100%;
  background: white;
  font-size:2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.board {
  width:500px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  height:180px
}

.border-right {
 border-right: 3px solid black;
}

.border-left {
 border-left: 3px solid black;
}

.border-bottom {
 border-bottom: 3px solid black;
}

.border-top {
  border-top: 3px solid black;
 }

.o {
  background-image: url("O.jpg");
  background-size: cover;
  background-position: center;
  opacity: .3;
}

.x {
  background-image: url("X.jpg");
  background-size: cover;
  background-position: center;
}

#container-box {
  width: 500px;
  height: 540px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
